/*******************************************************
Authors: Pelle Serander, Jens Jakobsson and Erik Olsson.
Last Updated: 2016-03-11

The code is based on the skeleton program found in lab 3
of the course TNM048 at Linköpings Univeristy year 2016.

http://staffwww.itn.liu.se/~jimjo/courses/TNM048/

*********************************************************/

svg {
  font: 10px sans-serif;
}

path {
  fill: orange;
}

.dot {
    fill: orange;
    fill-opacity: 0.5;
    /*stroke: #FFF;*/
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.brush .extent {
  stroke: #fff;
  fill-opacity: .125;
  shape-rendering: crispEdges;
}

