/*******************************************************
Authors: Pelle Serander, Jens Jakobsson and Erik Olsson.
Last Updated: 2016-03-11

The code is based on the skeleton program found in lab 3
of the course TNM048 at Linköpings Univeristy year 2016.

http://staffwww.itn.liu.se/~jimjo/courses/TNM048/

*********************************************************/

.country{ fill: rgb(0, 75, 151); }

.point {
    fill: orange;
    stroke-opacity: .1;
    /*stroke: #FFF;*/
}

.hidden {
    display: none;
}

.stations svg {
  position: absolute;
}

.stations svg {
  width: 60px;
  height: 20px;
  padding-right: 100px;
  font: 10px sans-serif;
}

.stations circle {
  fill: orange;
  stroke: black;
  stroke-width: 1.5px;
}

#dot {
      width: 8px;
      height: 8px;
      margin: auto;
      -webkit-border-radius: 25px;
      -moz-border-radius: 25px;
      border-radius: 25px;
    }

.graphRubrik{
  margin: 3px, 0px, 3px, 8px;
}
